In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("liver.csv")
data

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [3]:
#data clearning the catogerical data 
#Catgorical data  
from sklearn.preprocessing import LabelEncoder, OneHotEncoder  
labelencoder_x= LabelEncoder()  
data["Gender"]= labelencoder_x.fit_transform(data["Gender"].astype('str'))

In [4]:
data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [5]:
data.drop('Albumin_and_Globulin_Ratio',
  axis='columns', inplace=True)

In [6]:
data.fillna(data.mean())

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Dataset
0,65,0,0.7,0.1,187,16,18,6.8,3.3,1
1,62,1,10.9,5.5,699,64,100,7.5,3.2,1
2,62,1,7.3,4.1,490,60,68,7.0,3.3,1
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1
4,72,1,3.9,2.0,195,27,59,7.3,2.4,1
...,...,...,...,...,...,...,...,...,...,...
578,60,1,0.5,0.1,500,20,34,5.9,1.6,2
579,40,1,0.6,0.1,98,35,31,6.0,3.2,1
580,52,1,0.8,0.2,245,48,49,6.4,3.2,1
581,31,1,1.3,0.5,184,29,32,6.8,3.4,1
582,38,1,1.0,0.3,216,21,24,7.3,4.4,2

In [7]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]
y

0      1
1      1
2      1
3      1
4      1
      ..
578    2
579    1
580    1
581    1
582    2
Name: Dataset, Length: 583, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.7,random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler
str_x=StandardScaler()
x_train=str_x.fit_transform(x_train)
x_test=str_x.fit_transform(x_test)

In [10]:
#Fitting Decision Tree classifier to the training set  
from sklearn.tree import DecisionTreeClassifier  
classifier= DecisionTreeClassifier(criterion='entropy', random_state=0)  
classifier.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [11]:
#Predicting the test set result  
y_pred= classifier.predict(x_test)

In [12]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix ,accuracy_score 
cm= confusion_matrix(y_test, y_pred)  
cm

array([[232,  60],
       [ 72,  45]], dtype=int64)

In [13]:
classifier.score(x_test,y_test)

0.6772616136919315

# RandomForestClassifier

In [14]:
from sklearn.ensemble import RandomForestClassifier  
classifier1= RandomForestClassifier(n_estimators= 10, criterion="entropy")  
classifier1.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [15]:
#Predicting the test set result  
y_pred1= classifier1.predict(x_test)

In [16]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix ,accuracy_score 
cm1= confusion_matrix(y_test, y_pred)  
cm1

array([[232,  60],
       [ 72,  45]], dtype=int64)

In [17]:
classifier1.score(x_test,y_test)

0.6992665036674817

In [18]:
from sklearn.model_selection import GridSearchCV
# we are tuning three hyperparameters right now, we are passing the different values for both parameters
grid_param = {
    "n_estimators" : [90,100,115,130],
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,20,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'max_features' : ['auto','log2']
}

In [19]:
grid_search = GridSearchCV(estimator=classifier1,param_grid=grid_param,cv=5,n_jobs =-1,verbose = 3)

In [ ]:
grid_search.fit(x_train,y_train)

Fitting 5 folds for each of 20736 candidates, totalling 103680 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    7.8s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   21.5s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:   44.8s
[Parallel(n_jobs=-1)]: Done 504 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 1144 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 1560 tasks      | elapsed:  3.8min
[Parallel(n_jobs=-1)]: Done 2040 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 2584 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done 3192 tasks      | elapsed:  7.4min
[Parallel(n_jobs=-1)]: Done 3864 tasks      | elapsed:  8.9min
[Parallel(n_jobs=-1)]: Done 4600 tasks      | elapsed: 10.6min
[Parallel(n_jobs=-1)]: Done 5400 tasks      | elapsed: 12.4min
[Parallel(n_jobs=-1)]: Done 6264 tasks      | elapsed: 14.4min
[Parallel(n_jobs=-1)]: Done 7192 tasks      | elapsed: 16.7min
[Parallel(n_jobs=-1)]: Done 8184 tasks      | elapsed: 19.1min
[Parallel(n_jobs=-1)]: Done 9240 tasks      | elapsed: 21.6min
[Parallel(n_jobs=-1)]: Done 10360 tasks      | elapsed: 24.3min
[Parallel(n_jobs=-1)]: Done 11544 tasks      | elapsed: 27.2min
[Parallel(n_jobs=-1)]: Done 12792 tasks      | elapsed: 30.3min